<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <meta property="og:locale" content="en_US">
  <meta property="article:author" content="Alix ducros">
  <%if page.hero%>
  <meta property="og:image" content="{{ page.hero}}">
  <%else%>
  <meta property="og:image" content="/icons/k-point.png">
  <%endif%>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@krlx_dev">
  <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
  <meta name="twitter:title" content="{{page.title}}">
  <meta name="twitter:description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <%if page.hero%>
  <meta name="twitter:image" content="{{ page.hero}}">
  <%else%>
  <meta name="twitter:image" content="/icons/k-point.png">
  <%endif%>

  <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <script>var __KX_ID = 'personal-site' ; var __KX_URL = 'https://kx-a-f5279.firebaseio.com/';</script>
  <script src="https://cdn.counter.dev/script.js" data-id="4385e87f-62eb-4d64-add5-a50fffda6f0d" data-utcoffset="1"></script>
  <script src="https://cdn.jsdelivr.net/gh/Karalix/feu-analytics/feu-analytics-min.js" defer></script>
</head>
