<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  <script type="application/ld+json">
    { "@context" : "http://schema.org", "@type" : "Person", "name" : "{{site.title}}", "url" : "{{site.url}}", "sameAs" : null } 
  </script>
  <!--<link rel="preload" as="style" href="https://codepen.io/Karalix/pen/dVNbrY.css">-->
  <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
  <!--<link rel="stylesheet" href="https://codepen.io/Karalix/pen/dVNbrY.css">-->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  <script>var __KX_ID = 'personal-site' ; var __KX_URL = 'https://kx-a-f5279.firebaseio.com/';</script>
  <script src="https://cdn.jsdelivr.net/gh/Karalix/feu-analytics/feu-analytics-min.js" defer></script>
</head>
