---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "krlx";


.row {
  width:100%;
  display: flex;
}

.row-fix {
  width:100%;
  display: flex;
}

.col {
  height: 100%;
}

.col-1{
  width: 1% * 100% / 12%;
  @extend .col;
}

.col-2{
  width: 2% * 100% / 12% ;
  @extend .col;
}

.col-3{
  width: 3% * 100% / 12% ;
  @extend .col;
}

.col-4{
  width: 4% * 100% / 12% ;
  @extend .col;
}

.col-5{
  width: 5% * 100% / 12% ;
  @extend .col;
}

.col-6{
  width: 50% ;
  @extend .col;
}

.col-7{
  width: 7% * 100% / 12% ;
  @extend .col;
}

.col-8{
  width: 8% * 100% / 12% ;
  @extend .col;
}

.col-9{
  width: 9% * 100% / 12% ;
  @extend .col;
}

.col-10{
  width: 10% * 100% / 12% ;
  @extend .col;
}

.col-11{
  width: 11% * 100% / 12% ;
  @extend .col;
}

.col-12{
  width: 12% * 100% / 12% ;
  @extend .col;
}


.col-1-fix{
  width: 1% * 100% / 12%;
}

.col-2-fix{
  width: 2% * 100% / 12% ;
}

.col-3-fix{
  width: 3% * 100% / 12% ;
}

.col-4-fix{
  width: 4% * 100% / 12% ;
}

.col-5-fix{
  width: 5% * 100% / 12% ;
}

.col-6-fix{
  width: 50% ;
}

.col-7-fix{
  width: 7% * 100% / 12% ;
}

.col-8-fix{
  width: 8% * 100% / 12% ;
}

.col-9-fix{
  width: 9% * 100% / 12% ;
}

.col-10-fix{
  width: 10% * 100% / 12% ;
}

.col-11-fix{
  width: 11% * 100% / 12% ;
}

.col-12-fix{
  width: 12% * 100% / 12% ;
}

@media(max-width: 575px){
  .row{
    flex-direction: column;
  }
  
  .col{
    width: 100%;
  }
}
